:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --primary-font: playfair display;
  --secondary-font: Poppins;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 60px;
  text-align: center;
}

.hero h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--secondary-font);
  font-weight: regular;
  font-size: 24px;
  line-height: 36px;
  margin-top: 16px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  margin-top: 24px;
}
h3 {
  font-size: 28px;
  font-style: italic;
}
.container h2 {
  font-size: 44px;
}

.container p {
  line-height: 30px;
}

.btn-branding-app {
  background-color: var(--branding-color);
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  margin-top: 24px;
}

@media (max-width: 900px) {
  .col-6 .app-description {
    padding: 0;
    text-align: center;
    background-color: red;
  }
}
